<div class="window pad sm p-0/5 chat bg-cyan-light mb-2 p-2">
    <div class="inner d-flex flex-wrap h-100 pb-1/5">
        <div class="window sm avatar p-0 shrink-0 bg-purple">
            <div class="inner">
                <img src="{{{props.avatar}}}" alt="" />
            </div>
        </div>
        <div class="details">
            <p class="title font-600">{{{props.title}}}</p>
            <div class="message">
                {{{props.lastMessage}}}
            </div>
        </div>
        <div class="meta">
            <div class="datetime">
                {{{props.datetime}}}
            </div>
            {{#if props.unread}}
                {{{props.unread}}}
            {{/if}}
        </div>
    </div>
</div>