<div class="window sm pad chat bg-cyan-light mb-2">
    <div class="inner d-flex flex-wrap h-100">
        <div class="avatar">
            <img src="{{{props.avatar}}}" alt="" />
        </div>
        <div class="details">
            <p class="title font-600">{{{props.title}}}</p>
            <div class="message">
                {{{props.lastMessage}}}
            </div>
        </div>
        <div class="meta">
            <div class="datetime">
                {{{props.datetime}}}
            </div>
            {{#if props.unread}}
                {{{props.unread}}}
            {{/if}}
        </div>
    </div>
</div>