<div class="window pad sm p-0/5 chat bg-cyan-light mb-2 p-2">
    <div class="inner d-flex h-100 overflow-hidden">
        {{{props.avatar}}}
        <div class="details ml-2">
            <p class="title font-600 mt-0/5 mb-1">{{{props.title}}}</p>
            <div class="message text-gray-darker text-sm">
                {{#if props.own}}
                    <span class="text-black">You:</span>
                {{/if}}
                {{#if props.lastMessageSticker}}
                    Sticker
                {{else if props.lastMessageImage}}
                    Image
                {{else}}
                    {{{props.lastMessage}}}
                {{/if}}
            </div>
        </div>
        <div class="meta">
            <div class="datetime text-sm font-500 text-right mb-1/5 pt-1">
                {{{props.datetime}}}
            </div>
            {{#if props.unread}}
                <div class="unread text-sm">
                    {{{props.unread}}}
                </div>
            {{/if}}
        </div>
    </div>
</div>