<div class="inner d-flex h-100 overflow-hidden">
    {{#if avatar}}
        {{{avatar}}}
    {{else}}
        <div class="window avatar avatar-md p-0 shrink-0 sm"></div>
    {{/if}}
    <div class="details ml-2">
        <p class="title font-600 mt-0/5 mb-1">{{{title}}}</p>
        <div class="message text-gray-darker text-sm">
            {{#if own}}
                <span class="text-black font-600">You:</span>
            {{/if}}
            {{#if lastMessageSticker}}
                Sticker
            {{else if lastMessageImage}}
                Image
            {{else}}
                {{{lastMessage}}}
            {{/if}}
        </div>
    </div>
    <div class="meta">
        <div class="datetime text-sm font-500 text-right mb-1/5 pt-1">
            {{{datetime}}}
        </div>
        {{#if unread}}
            <div class="unread text-sm">
                {{{unread}}}
            </div>
        {{/if}}
    </div>
</div>
