<section>
    <input
        type="{{{props.type}}}"
        class="input"
        name="{{{props.id}}}"
        id="{{{props.id}}}"
        value="{{{props.value}}}"
        placeholder="{{{props.title}}}"
        {{#if props.disabled}} disabled="disabled"{{/if}}
    />
</section>

