<div class="inner overflow-hidden p-0/5">
    <header class="d-flex mb-2">
        {{{buttonIcon}}}
        {{{inputSearch}}}
    </header>
    <div class="list overflow-y-scroll h-100 pb-4/5 pr-2">
        {{{chat_1}}}
        {{{chat_2}}}
        {{{chat_3}}}
        {{{chat_4}}}
        {{{chat_5}}}
        {{{chat_6}}}
        {{{chat_7}}}
        {{{chat_8}}}
    </div>
</div>
