<div class="window message w-fit mw-50 mb-2/5 d-flex p-0 {{{props.styles}}} {{{classes.window}}} {{#if props.own}}{{{classes.message-own}}}{{/if}}">
    <div class="inner inner-auto">
        <img src="{{{props.image}}}" alt="" class="{{{classes.image}}}" />
        <div class="window xs p-0/33 bg-purple {{{classes.datetime}}}">
            <div class="inner text-sm text-white">
                {{{props.datetime}}}
            </div>
        </div>
    </div>
</div>