<button
    type="button"
    title="{{{props.title}}}"
    class="button button-icon window sm pad text-center {{{props.styles}}}"
    id="{{{props.id}}}"
>
    <div class="inner">
        <img src="{{{icon}}}" alt="{{{props.title}}}" />
    </div>
</button>