<label for="{{id}}" class="{{classes.input-label}}">{{title}}</label>
<div class="input-wrap window sm p-0/5 bg-gray-light">
    <input
        type="{{type}}"
        class="input"
        name="{{id}}"
        id="{{id}}"
        value="{{value}}"
        placeholder="{{title}}"
        {{#if settings.disabled}} disabled="disabled"{{/if}}
    />
</div>
