<label for="{{{id}}}" class="input-label">{{{name}}}</label>
<div class="input-wrap">
    <div class="input-wrap">
        <input type="{{{type}}}" class="input" id="{{{id}}}" placeholder="{{{name}}}" />
    </div>
</div>