<label for="{{{id}}}" class="input-label">{{{title}}}</label>
<div class="input-wrap window sm bg-gray-light">
    <div class="input-wrap">
        <input type="{{{type}}}" class="input" id="{{{id}}}" placeholder="{{{title}}}" />
    </div>
</div>