<label for="{{{props.id}}}" class="{{{classes.input-label}}}">{{{props.title}}}</label>
<div class="input-wrap window sm bg-gray-light">
    <input
        type="{{{props.type}}}"
        class="input"
        id="{{{props.id}}}"
        placeholder="{{{props.title}}}"
    />
</div>