{{{avatar}}}
<h2 class="font-400 mb-4">{{{displayName}}}</h2>
<div class="fields w-100 mb-3">
    {{{input_email}}}
</div>
<div class="actions">
    {{{button_update_details}}}
    {{{button_change_password}}}
    {{{button_logout}}}
</div>