{{{avatar}}}
<h2 class="font-400 mb-4">{{{displayName}}}</h2>
<div class="fields w-100 mb-3">
    <div class="mb-2">
        {{{input_email}}}
    </div>
    <div class="mb-2">
        {{{input_login}}}
    </div>
    <div class="mb-2">
        {{{input_first_name}}}
    </div>
    <div class="mb-2">
        {{{input_last_name}}}
    </div>
    <div class="mb-2">
        {{{input_phone}}}
    </div>
    <div class="mb-2">
        {{{input_display_name}}}
    </div>
</div>
<div class="actions">
    <div class="mb-2">
        {{{button_update_details}}}
    </div>
    <div class="mb-2">
        {{{button_change_password}}}
    </div>
    <div class="mb-2">
        {{{button_logout}}}
    </div>
</div>
